<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body class="row">
        <div class="col-md-6">
          <!-- <nb-search type="rotate-layout"></nb-search> -->
          <!-- <input type="text" nbInput fullWidth shape="semi-round" placeholder="Busqueda"> -->
        </div>
        <div class="col-md-6">
          <nb-actions size="medium">
            
            <nb-action icon="archive-outline" nbPopoverPlacement="bottom" nbPopover="Por categoria"
              nbPopoverTrigger="hint">
            </nb-action>
            <nb-action icon="car-outline" badgeText="2" badgePosition="top right" badgeStatus="info"
              nbPopoverPlacement="bottom" nbPopover="Por proveedores" nbPopoverTrigger="hint">
            </nb-action>
          </nb-actions>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>




<!-- <div class=" row">
  <div class="jumbotron col-md-12">
    <h1 class="display-3">Bienvenido a crocoKEY!</h1>
    <p class="lead">
      Es un gestor de contraseña seguro implementando algoritmo de cifrado como el SHA-256 del lado cliente y
      un algoritmo hash un poco mas lento como el bcrypt del lado del servidor.
      Este ultimo algorimo es resistente a los ataques de búsqueda de fuerza bruta incluso con un aumento del poder de
      cálculo.
    </p>
  </div>
</div> -->
<!-- <div class="row"> -->

<!-- PUBLIC -->

<!-- <div class="col-md-6 row">
    <div class="col-md-6">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <h4>Baúl publico</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/Add.png" class="center" routerLink="/chest" style="cursor: pointer;"><br> -->
<!-- <h4 class="card-title">Primary card title</h4> -->
<!-- <p class="card-text">
            <strong>MAX: </strong><em>3</em> , <strong>Cant. baúl: </strong><em>10</em>
          </p>
        </div>
      </div>
    </div> -->
<!-- <div class="col-md-6">
      <h2>Baúl publico</h2>
      <p class="lead">
        Con ser publico no significa que no sera seguro, el <a routerLink="/chest" style="cursor: pointer;">Baúl
          publico</a> integra las 4 capas de seguridad...
      </p> -->
<!-- <p class="lead">
        Con ser publico no significa que no sera seguro, el <a routerLink="/chest" style="cursor: pointer;">Baúl
          publico</a> integra las 4 capas de seguridad que el privado, solo que en la capa 2 el codigo seguro de 6 digitos no es determinado de acuerdo a
        las capas anteriores, si no que simplemente es un codigo generado aleatoreamente.

        Ademas, el <a routerLink="/chest" style="cursor: pointer;">Baúl publico</a> solo dispone de
        <a class="text-danger">10 sitios</a> por baul y con un limite de <a class="text-danger">3 baules</a> publicos.
      </p> -->
<!-- </div>
  </div> -->

<!-- PRIVATE -->
<!-- 
  <div class="col-md-6 row">
    <div class="col-md-6">
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <h4>Baúl privado</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/add-11.png" class="center" routerLink="/private-chest" style="cursor: pointer;"><br>
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">
            <strong>MAX: </strong><em>9+</em>, <strong>Cant. baúl: </strong><em>9+</em>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Baúl privado</h2>
      <p class="lead">
         Dispone con un total de 4 capas de seguridad el cual en las capas internas estan cifradas con una...
      </p>
      <p class="lead">
        Dispone con un total de 4 capas de seguridad el cual en las capas internas estan cifradas con una
        conbinacion del algoritmo SHA-256 y algoritmos adicionales. En los cerrojos extremos se hace uso
        de algoritmo SHA3-256...
     </p>
    </div>
  </div>
</div> -->