<div class="row card-data">
  <div class="col-md-3" *ngFor="let item of array_new_chest">
    <nb-card status="{{ color }}">
      <nb-card-header>{{ item.title }}</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
      <nb-card-footer>By Wikipedia</nb-card-footer>
    </nb-card>
  </div>
</div>
