.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box-shadow {
    box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, 0.5);
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, 0.75);
  }
  
  .box-shadow-dark {
    box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.25);
  }

  
  h6 {
    color: #990000;
  }
  
  .font-weight-bolder {
    font-weight: 900;
  }
  
  .display-1,
  .display-2,
  .display-3,
  .display-4 {
    font-weight: 900;
  }
  
  
  .card {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border-radius: 0;
    -webkit-transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
            transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
  }
  .card-header {
    border-radius: 0;
  }
  .card-header.h5{
      color: #a9d06a;
  }
  .card-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .card-header, .card-footer {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .card:hover {
    border-color: #88c592;
    text-shadow: #42b85c;
    -webkit-transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .card:hover .card-header,
  .card:hover .card-footer {
    color: #fafafa;
    border-color: #4ab95c;
    background-color: #a9d06a;
  }
  .card:hover .promotion-promo {
    -webkit-transform: scale(1.175) translateY(2.5px);
            transform: scale(1.175) translateY(2.5px);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  .card:hover .promotion-price {
    -webkit-transform: translate(2.5px, 17.5px) scale(1.15);
            transform: translate(2.5px, 17.5px) scale(1.15);
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  .card-body {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .card .btn {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .promotion-promo {
    font-weight: 700;
    font-size: 1.15rem;
    color: #29b45c;
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
  }
  .promotion-price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #29b45c;
    width: 92px;
    height: 92px;
    padding-bottom: 0rem;
    padding-top: 1.25rem;
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    border-radius: 5rem;
    color: #fff;
    z-index: -1;
    -webkit-transform: translate(5px, 27.5px) rotate(-9deg);
            transform: translate(5px, 27.5px) rotate(-9deg);
    border: 1px dashed #fff;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    line-height: 1.15;
  }
  .promotion-price-desc {
    padding: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: block;
  }
  .promotion-price-text {
    padding: 0;
    margin: 0 auto;
    font-weight: 900;
  }
  
  .card-animate {
    counter-reset: section;
  }
  .card-animate .card-body:before {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    counter-increment: section;
    content: "" counter(section) "";
    display: block;
    font-size: 15rem;
    font-weight: 900;
    position: absolute;
    bottom: 5rem;
    line-height: 0;
    left: -0.85rem;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.1);
    z-index: 0;
  }
  .card-animate .card:hover .card-body:before {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  .card-animate .card-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card-animate .card-title {
    font-weight: 900;
    text-transform: uppercase;
  }
  