<div class="row card-data">
    <div class="col-md-3 card-deck no-gutters" *ngFor="let item of array_products">
        <!-- <nb-card status="status">
        <nb-card-header>{{ item.title }}</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other
          ionized gases. Originally, nebula was a name for any diffuse
          astronomical object, including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card> -->
        <!-- <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <h4>{{item.title}}</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/noImage.png" class="center" style="cursor: pointer;"><br>
          <h4 class="card-title">{{item.type_product}}</h4>
          <p class="card-text">
            <strong>MAX: </strong><em>9+</em>, <strong>Cant. baúl: </strong><em>9+</em>
          </p>
        </div>
      </div> -->
        <div class="card h-70 mb-4">
            <div class="card-header">
                <h5 class="card-title m-0 p-0 font-weight-bolder text-muted">{{item.title}}</h5>
            </div>
            <div class="card-body text-left">
                <p class="card-text text-muted">{{item.type_product}} </p>
                <span class="font-lead-base font-weight-bold text-muted">20% descuento!</span>
                <div class="promotion-promo">$ {{(item.priceP)}}</div>
                <div class="promotion-price">
                    <div class="promotion-price-desc">Ahora</div>
                    <div class="promotion-price-text">$ {{item.priceUM}}</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row col col-2">
                    <a href="" style="text-decoration:none;" class="btn btn-success text-white">Ordenar</a>
                    <div class="col col-1" *ngIf="status_edit">
                        <button nbButton style="margin-left: 10rem;" size="small" status="info" shape="round" ghost nbPopoverPlacement="bottom"
                            nbPopover="Editar producto" nbPopoverTrigger="hint">
                            <nb-icon icon="edit-outline" [options]="{ animation: { type: 'zoom' } }">
                            </nb-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>